<!DOCTYPE html>
<!--		PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Investment Calculator</title>
    <link rel="stylesheet" type="text/css" href="../static/css/view.css" media="all" th:href="@{/css/view.css}">
    <script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body">

<img id="top" src="top.png" alt="">
<div id="form_container">

    <h1><a>Investment Calc</a></h1>
    <form id="form_12031" class="appnitro" method="post" action="#"
          th:action="@{/save}" th:object="${portfolio}">
        <input type="hidden" th:field="*{id}"/>

        <div class="form_description">
            <h2>Investment Calculator</h2>
            <p>Investment Calculator</p>
        </div>
        <ul>

            <li>
                <label class="description" for="element_1">Date </label>
                <div>
                    <input id="element_1" name="element_1"
                           th:field="*{date}"
                           class="element date medium" type="date" value=""/>
                </div>
            </li>
            <li>
                <label class="description" for="element_2">Address </label>
                <div>
                    <input id="element_2" name="element_2"
                           th:field="*{street}"
                           class="element text medium" type="text" maxlength="255" value=""/>
                </div>
            </li>
            <li>
                <label class="description" for="element_3">City </label>
                <div>
                    <select class="element select medium" id="element_3"
                            th:field="*{city}"
                            name="element_3">
                        <option value="" selected="selected"></option>
                        <option value="1">Detroit</option>
                        <option value="2">Jacksonvill</option>

                    </select>
                </div>
            </li>
            <li>
                <label class="description" for="element_4">Zip </label>
                <div>
                    <input id="element_4" name="element_4"
                           th:field="*{zipcode}"
                           class="element text medium" type="text" maxlength="5" value=""/>
                </div>
            </li>
            <li>
                <label class="description" for="element_5">Purchase Price </label>
                <div>
                    <input id="element_5" name="element_5"
                           th:field="*{purchasePrice}"
                           class="element text medium" type="text" maxlength="255" value=""/>
                </div>
            </li>
            <li>
                <label class="description" for="element_6">Repair Cost </label>
                <div>
                    <input id="element_6" name="element_6"
                           th:field="*{rehab}"
                           class="element text medium" type="text" maxlength="255" value=""/>
                </div>
            </li>
            <li>
                <label class="description" for="element_7">Rent </label>
                <div>
                    <input id="element_7" name="element_7"
                           th:field="*{rent}"
                           class="element text medium" type="text" maxlength="255" value=""/>
                </div>
            </li>
            <li>
                <label class="description" for="element_8">ARV </label>
                <div>
                    <input id="element_8" name="element_8"
                            th:field="*{estARV}"
                           class="element text medium" type="text" maxlength="255" value=""/>
                </div>
            </li>

            <li>
                <label class="description" for="element_9">HOA </label>
                <div>
                    <input id="element_9" name="element_9"
                           th:field="*{hoa}"
                           class="element text medium" type="text" maxlength="255" value=""/>
                </div>
            </li>


            <li class="buttons">
                <input type="hidden" name="form_id" value="12031"/>

                <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit"/>
            </li>
        </ul>
    </form>
    <div id="footer">
        Generated by <a href="http://www.phpform.org">pForm</a>
    </div>
</div>
<img id="bottom" src="bottom.png" alt="">
</body>
</html>